.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    height: 60px;
    /* margin-left: -10px;
    margin-right: -10px; */
    
  }
  
  .header_logo {
    width: 100px;
  }
  
  .header_search {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 900px;
  }
  
  .header_searchInput {
    width: 100%;
    padding: 8px;
    border: none;
  }
  /* .searchicon_div{
    background-color:  #cdab30;
    height: 300px !important;

  } */
  .Header_searceIcon {
    background-color:  #cdab30;
    height: 30px !important;
    margin-right: 5px;
    
  }
  
  .header_nav {
    display: flex;
    align-items: center;
  }
  
  .header_opetion {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .header_opetion span {
    margin-bottom: 3px;
  }
  
  .header_opetionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header_opetionBasket span {
    margin-left: 5px;
  }
  
  .headerOpetionLineone {
    font-size: 12px;
    color: white;
  }